version: '3.8'

services:

  backend:
    build:
      context: ./backend
    container_name: backend
    environment:
      - NODE_ENV=production
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=rs_bike
      - DB_USER=postgres
      - DB_PASSWORD=password
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - rs_network

  # Service pour le frontend Vue.js
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    environment:
      - VUE_APP_API_URL=http://localhost:3000 # URL de l'API backend
    ports:
      - "8080:8080"
    networks:
      - rs_network

  # Service pour PostgreSQL
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_DB: rs_bike
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "password"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rs_network

  # Service pour PgAdmin
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@email.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - rs_network
    depends_on:
      - postgres

volumes:
  postgres_data:

networks:
  rs_network:
    driver: bridge

